services:
  homeassistant:
    image: ghcr.io/watsona4/hass-config:latest
    build: .
    restart: unless-stopped
    privileged: true
    network_mode: host
    environment:
      UMASK: 002
      TZ: America/New_York
    volumes:
      - ./config:/config:Z
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
      - /var/run/postgresql:/var/run/postgresql
    stop_grace_period: 60s
    labels:
      com.centurylinklabs.watchtower.enable: "true"
