{#- Device class wrapper template for automatic template selection based on entity device class -#}

{% macro get_device_state_info(entity_id, app, options={}) %}

    {#- Get the entity's device class if it exists, otherwise use 'none' -#}
    {%- set ns = namespace(device_class=none) -%}
    {%- set ns.device_class = state_attr(entity_id, 'device_class') or 'none' -%}

    {#- Get the current state value and units -#}
    {%- set value = states(entity_id) | float(0) -%}
    {%- set friendly_name = state_attr(entity_id, 'friendly_name') -%}
    {%- set uom = options.get('uom', state_attr(entity_id, 'unit_of_measurement')) -%}
    {%- set display_unit = options.get('unit', uom) -%}

    {#- Create options dict with unit info for the getters -#}
    {%- set enhanced_options = dict(
        options,
        friendly_name=friendly_name,
        uom=uom,
        display_unit=display_unit
        ) -%}

    {#- Import the appropriate template based on device class -#}
    {%- set valid_classes = [
        "acceleration",
        "angle",
        "aqi",
        "apparent_power",
        "atmospheric_pressure",
        "battery",
        "carbon_dioxide",
        "carbon_monoxide",
        "cloud_coverage",
        "conductivity",
        "current",
        "data_rate",
        "data_size",
        "distance",
        "duration",
        "energy",
        "frequency",
        "gas",
        "heat_index",
        "humidity",
        "illuminance",
        "irradiance",
        "latency",
        "lightning",
        "moisture",
        "monetary",
        "nitrogen_dioxide",
        "none",
        "ozone",
        "packet_loss",
        "percentage",
        "ph",
        "pm10",
        "pm25",
        "power",
        "precipitation",
        "precipitation_intensity",
        "pressure",
        "radiation",
        "salinity",
        "signal_strength",
        "snow_depth",
        "soil_nutrient",
        "solar_radiation",
        "sound_level",
        "speed",
        "sulphur_dioxide",
        "temperature",
        "timestamp",
        "uptime",
        "uv",
        "vibration",
        "volatile_organic_compounds",
        "voltage",
        "volume",
        "volume_flow_rate",
        "water",
        "weight",
        "wind_direction",
        "wind_speed"
    ] -%}

    {#- Ensure we have a valid device class, fallback to 'none' if not -#}
    {%- if ns.device_class not in valid_classes -%}
        {%- set ns.device_class = "none" -%}
    {%- endif -%}

    {#- Import the device class template -#}
    {%- from 'device_class/' ~ ns.device_class ~ '.jinja' import get_color, get_icon,
    get_name, get_default_desc, get_short_desc, get_long_desc, get_full_desc,
    get_value, get_badge, get_label, get_short_label, get_long_label -%}

    {#- Return a dictionary with all the relevant information -#}
    {{- {
        'value': get_value(value, options=enhanced_options) ,
        'name': get_name(value, app, options=enhanced_options),
        'default_desc': get_default_desc(value, app, options=enhanced_options),
        'short_desc': get_short_desc(value, app, options=enhanced_options),
        'long_desc': get_long_desc(value, app, options=enhanced_options),
        'full_desc': get_full_desc(value, app, options=enhanced_options),
        'icon': get_icon(value, app, options=enhanced_options),
        'color': get_color(value, app, options=enhanced_options),
        'badge': get_badge(value, app, options=enhanced_options),
        'label': get_label(value, app, options=enhanced_options),
        'short_label': get_short_label(value, app, options=enhanced_options),
        'long_label': get_long_label(value, app, options=enhanced_options)
    } | tojson -}}

{% endmacro %}

{#- Helper macro to get specific attribute -#}
{% macro get_attribute(entity_id, app, attribute, options={}) %}
    {%- set info = get_device_state_info(entity_id, app, options) | from_json -%}
    {{- info[attribute] -}}
{% endmacro %}

{#- Convenience macros for common attributes -#}
{% macro get_value(entity_id, app, options={}) %}
    {{- get_attribute(entity_id, app, 'value', options) -}}
{% endmacro %}

{% macro get_name(entity_id, app, options={}) %}
    {{- get_attribute(entity_id, app, 'name', options) -}}
{% endmacro %}

{% macro get_default_desc(entity_id, app, options={}) %}
    {{- get_attribute(entity_id, app, 'default_desc', options) -}}
{% endmacro %}

{% macro get_short_desc(entity_id, app, options={}) %}
    {{- get_attribute(entity_id, app, 'short_desc', options) -}}
{% endmacro %}

{% macro get_long_desc(entity_id, app, options={}) %}
    {{- get_attribute(entity_id, app, 'long_desc', options) -}}
{% endmacro %}

{% macro get_full_desc(entity_id, app, options={}) %}
    {{- get_attribute(entity_id, app, 'full_desc', options) -}}
{% endmacro %}

{% macro get_icon(entity_id, app, options={}) %}
    {{- get_attribute(entity_id, app, 'icon', options) -}}
{% endmacro %}

{% macro get_color(entity_id, app, options={}) %}
    {{- get_attribute(entity_id, app, 'color', options) -}}
{% endmacro %}

{% macro get_badge(entity_id, app, options={}) %}
    {{- get_attribute(entity_id, app, 'badge', options) -}}
{% endmacro %}

{% macro get_label(entity_id, app, options={}) %}
    {%- set label = get_attribute(entity_id, app, 'label', options) -%}
    {%- if label != '' -%}
        {{- label -}}
    {%- else -%}
        {{- get_value(entity_id, app, options) ~ ' • ' ~ get_default_desc(entity_id, app, options) -}}
    {%- endif -%}
{% endmacro %}

{% macro get_short_label(entity_id, app, options={}) %}
    {%- set short_label = get_attribute(entity_id, app, 'short_label', options) -%}
    {%- if short_label != '' -%}
        {{- short_label -}}
    {%- else -%}
        {{- get_value(entity_id, app, options) ~ ' • ' ~ get_short_desc(entity_id, app, options) -}}
    {%- endif -%}
{% endmacro %}  

{% macro get_long_label(entity_id, app, options={}) %}
    {%- set long_label = get_attribute(entity_id, app, 'long_label', options) -%}
    {%- if long_label != '' -%}
        {{- long_label -}}
    {%- else -%}
        {{- get_value(entity_id, app, options) ~ ' • ' ~ get_long_desc(entity_id, app, options) -}}
    {%- endif -%}
{% endmacro %}
