{# # File: config/custom_templates/pollen.jinja ## #}
{# Macros for Pollen Count Index calculations and representations #}

{% from 'helpers.jinja' import level_find %}

{# Breakpoints for Pollen Count Index levels #}
{% set bps = [0, 2.5, 4.9, 9.7] %}

{# Names for Pollen Count Index levels #}
{% set names = ["Low Pollen", "Moderate Pol", "High Pollen", "Very High Pol"] %}

{# Short names for Pollen Count Index levels #}
{% set shorts = ["LowPol", "ModPol", "HighPol", "VHighPol"] %}

{# Long names for Pollen Count Index levels #}
{% set longs = ["Low Pollen Count", "Moderate Pollen Count", "High Pollen Count", "Very High Pollen Count"] %}

{# Icons for Pollen Count Index levels #}
{% set icons = ["mdi:flower-tulip-outline", "mdi:flower-tulip", "mdi:flower-poppy", "mdi:flower-shamrock"] %}

{# Colors for Pollen Count Index levels #}
{% set colors = ["#009966", "#ffde33", "#ff9933", "#cc0033", "disabled"] %}

{# Descriptions for Pollen Count Index levels #}
{% set descriptions = [
    "Low pollen count. No special precautions needed.",
    "Moderate pollen count. Individuals who are sensitive to pollen may experience mild symptoms.",
    "High pollen count. Sensitive individuals may experience more severe symptoms. Consider limiting outdoor activities.",
    "Very high pollen count. Sensitive individuals should take extra precautions, such as staying indoors and using air purifiers."
] %}

{# Wrappers for standard functions #}
{# djlint:off #}
{% macro name(i) %}{{ names[level(i) |int-1] }}{% endmacro %}
{% macro short(i) %}{{ shorts[level(i) |int-1] }}{% endmacro %}
{% macro long(i) %}{{ longs[level(i) |int-1] }}{% endmacro %}
{% macro icon(i) %}{{ icons[level(i) |int-1] }}{% endmacro %}
{% macro desc(i) %}{{ descriptions[level(i) |int-1] }}{% endmacro %}
{% macro color(i) %}{{ colors[level(i) |int-1] }}{% endmacro %}
{% macro level(i) %}{{ level_find(i, bps) }}{% endmacro %}
{# djlint:on #}
