{%- macro condition(code, is_day=true) -%}
    {%- if code in [0,1] -%}{{ 'sunny' if is_day else 'clear-night' }}
    {%- elif code in [2] -%}partlycloudy
    {%- elif code in [3] -%}cloudy
    {%- elif code in [45,48] -%}fog
    {%- elif code in [51,53,55,56,57,61,63,66,80,81] -%}rainy
    {%- elif code in [65,67,82] -%}pouring
    {%- elif code in [71,73,75,77,85,86] -%}snowy
    {%- elif code in [95,96,99] -%}lightning
    {%- else -%}unknown
    {%- endif -%}
{%- endmacro -%}
