{#- Illuminance conversion utilities -#}
{% from 'units/normalize_units.jinja' import normalize_unit %}
{% from 'units/prefix_scaling.jinja' import scale_value, auto_scale, format_scaled, split_prefix_unit %}

{% macro normalize(value, unit) %}
  {#- Always normalize to lux (lx) -#}
  {%- set norm_unit = normalize_unit(unit) -%}
  
  {%- if norm_unit.endswith('lx') -%}
    {#- Handle SI prefixed versions -#}
    {%- set parts = split_prefix_unit(norm_unit) | from_json -%}
    {%- set base_value = scale_value(value, parts.prefix, '', 'SI') -%}
    {{- {'value': base_value, 'unit': 'lx'} | tojson -}}
  {%- elif norm_unit == 'fc' or norm_unit == 'ft-cd' -%}
    {#- Convert foot-candles to lux -#}
    {{- {'value': value * 10.764, 'unit': 'lx'} | tojson -}}
  {%- elif norm_unit == 'cd/m²' or norm_unit == 'nit' -%}
    {#- Convert candela per square meter (nits) to lux -#}
    {#- Note: This is an approximation as the relationship depends on the geometry -#}
    {{- {'value': value * 3.14159, 'unit': 'lx'} | tojson -}}
  {%- endif -%}
{% endmacro %}

{% macro from_lux(value, to_unit) %}
  {%- set norm_unit = normalize_unit(to_unit) -%}
  
  {%- if norm_unit.endswith('lx') -%}
    {#- Handle SI prefixed versions -#}
    {%- set scaled = auto_scale(value, 'lx') | from_json -%}
    {{- {
      'value': scaled.value,
      'unit': scaled.unit,
      'formatted': (format_scaled(value, 'lx') | from_json).formatted
    } | tojson -}}
  {%- elif norm_unit == 'fc' or norm_unit == 'ft-cd' -%}
    {%- set fc_value = value / 10.764 -%}
    {{- {
      'value': fc_value,
      'unit': 'fc',
      'formatted': "{:.1f} fc".format(fc_value)
    } | tojson -}}
  {%- elif norm_unit == 'cd/m²' or norm_unit == 'nit' -%}
    {%- set nit_value = value / 3.14159 -%}
    {{- {
      'value': nit_value,
      'unit': 'cd/m²',
      'formatted': "{:.1f} cd/m²".format(nit_value)
    } | tojson -}}
  {%- endif -%}
{% endmacro %}
