# Ignore third-party custom component contents, keep dir placeholders
aquanta/**
!aquanta/.gitkeep

emporia_vue/**
!emporia_vue/.gitkeep

frigate/**
!frigate/.gitkeep

hacs/**
!hacs/.gitkeep

icloud3/**
!icloud3/.gitkeep

lennoxs30/**
!lennoxs30/.gitkeep

localtuya/**
!localtuya/.gitkeep

midea_beautiful/**
!midea_beautiful/.gitkeep

midea_dehumidifier_lan/**
!midea_dehumidifier_lan/.gitkeep

nest_protect/**
!nest_protect/.gitkeep

nws_alerts/**
!nws_alerts/.gitkeep

resmed_myair/**
!resmed_myair/.gitkeep

tplink_deco/**
!tplink_deco/.gitkeep

uconnect/**
!uconnect/.gitkeep

victorsmartkill/**
!victorsmartkill/.gitkeep

zwift/**
!zwift/.gitkeep
