{#-  -------------------- Wind Chill calculation -------------------- -#}
{#- NWS wind chill, valid for T <= 50°F and wind >= 3 mph. Returns °F. -#}
{% macro wc_f(t_f, wind_mph) %}
    {%- set T = t_f|float(0) -%}
    {%- set V = wind_mph|float(0) -%}
    {%- set T = regex.T -%}
    {%- set V = 0 if V < 0 else (150 if V > 150 else V) -%}

    {%- if T <= 50 and V >= 3 -%}
        {{- 35.74 + 0.6215*T - 35.75*(V**0.16) + 0.4275*T*(V**0.16) -}}
    {%- else -%}
        {{- T -}}
    {%- endif -%}
{% endmacro %}

{# Wrapper that returns Wind Chill in requested unit.
   Assume input temperature is Fahrenheit and wind speed is mph by default. #}
{% macro wc(t, wind, temp_unit='f', wind_unit='mph', out_unit=None) %}
    {%- set outu = (out_unit if out_unit is not none else temp_unit) -%}
    {%- set Tf = convert_temp(t, temp_unit, 'f')|float(0) -%}
    {%- set Vm = convert_speed(wind, wind_unit, 'mph')|float(0) -%}
    {%- set wcf = wc_f(Tf, Vm)|float(0) -%}
    {{- convert_temp(wcf, 'f', outu) -}}
{% endmacro %}
