{% macro area_energy(area, exclude=[]) %}
    {%- set total = namespace(v=0.0) -%}
    {%- for e in area_entities(area) if e not in exclude -%}
        {%- set dc = state_attr(e,'device_class') or '' -%}
        {%- set sc = state_attr(e,'state_class') or '' -%}
        {%- set u = (state_attr(e,'unit_of_measurement') or '') | lower -%}
        {%- if dc == 'energy' and sc in ['total','total_increasing'] -%}
            {%- set v = states(e)|float(0) -%}
            {%- set kwh = v/1000 if u in ['wh','w·h'] else v if u in ['kwh','kw·h'] else 0 -%}
            {%- set total.v = total.v + kwh -%}
        {%- endif -%}
    {%- endfor -%}
    {{- total.v -}}
{% endmacro %}
