{# Macro to get dominant pollutant name #}
{% macro dominant(entity_id, short=false) %}
    {%- set pol = state_attr(entity_id, "dominentpol") | upper -%}
    {%- if pol == "O3" -%}
        {{ short and "Ozone Gas" or "Ozone (O₃)" }}
    {%- elif pol == "CO" -%}
        {{ short and "CarbonMono" or "Carbon Monoxide (CO)" }}
    {%- elif pol == "NO2" -%}
        {{ short and "NitroDiox" or "Nitrogen Dioxide (NO₂)" }}
    {%- elif pol == "SO2" -%}
        {{ short and "SulfurDiox" or "Sulfur Dioxide (SO₂)" }}
    {%- elif pol in ["PM25", "PM2.5"] -%}
        {{ short and "PM₂.₅ Fine" or "Fine Particulate Matter (PM₂.₅)" }}
    {%- elif pol == "PM10" -%}
        {{ short and "PM₁₀ Coarse" or "Particulate Matter (PM₁₀)" }}
    {%- else -%}
        Unknown ({{ pol }})
    {%- endif -%}
{% endmacro %}
