- binary_sensor:
    - name: Laptop Status Alarm
      device_class: problem
      availability: "{{ has_value('binary_sensor.laptop_overall_status_ok') }}"
      state: "{{ is_state('binary_sensor.laptop_overall_status_ok','off') }}"
    - name: Desktop Status Alarm
      device_class: problem
      availability: "{{ has_value('binary_sensor.desktop_bq063ig_overall_status_ok') }}"
      state: "{{ is_state('binary_sensor.desktop_bq063ig_overall_status_ok','off') }}"
    - name: Frigate Status Alarm
      device_class: problem
      availability: "{{ has_value('binary_sensor.frigate_overall_status_ok') }}"
      state: "{{ is_state('binary_sensor.frigate_overall_status_ok','off') }}"
    - name: OPNSense Status Alarm
      device_class: problem
      availability: "{{ has_value('binary_sensor.opnsense_overall_status_ok') }}"
      state: "{{ is_state('binary_sensor.opnsense_overall_status_ok','off') }}"
    - name: RaspberryPi Status Alarm
      device_class: problem
      availability: "{{ has_value('binary_sensor.raspberrypi4_overall_status_ok') }}"
      state: "{{ is_state('binary_sensor.raspberrypi4_overall_status_ok','off') }}"

- sensor:
    - name: Laptop PhysicalDrive0 Data Rate
      availability: "{{ has_value('sensor.laptop_disk_physicaldrive0_read_rate') or has_value('sensor.laptop_disk_physicaldrive0_write_rate') }}"
      state: "{{ states('sensor.laptop_disk_physicaldrive0_read_rate')|float(0) + states('sensor.laptop_disk_physicaldrive0_write_rate')|float(0) }}"
      unit_of_measurement: B/s
      device_class: data_rate
      state_class: measurement
    - name: Desktop PhysicalDrive0 Data Rate
      availability: "{{ has_value('sensor.desktop_bq063ig_disk_physicaldrive0_read_rate') or has_value('sensor.desktop_bq063ig_disk_physicaldrive0_write_rate') }}"
      state: "{{ states('sensor.desktop_bq063ig_disk_physicaldrive0_read_rate')|float(0) + states('sensor.desktop_bq063ig_disk_physicaldrive0_write_rate')|float(0) }}"
      unit_of_measurement: B/s
      device_class: data_rate
      state_class: measurement
    - name: Desktop PhysicalDrive1 Data Rate
      availability: "{{ has_value('sensor.desktop_bq063ig_disk_physicaldrive1_read_rate') or has_value('sensor.desktop_bq063ig_disk_physicaldrive1_write_rate') }}"
      state: "{{ states('sensor.desktop_bq063ig_disk_physicaldrive1_read_rate')|float(0) + states('sensor.desktop_bq063ig_disk_physicaldrive1_write_rate')|float(0) }}"
      unit_of_measurement: B/s
      device_class: data_rate
      state_class: measurement
    - name: Desktop PhysicalDrive2 Data Rate
      availability: "{{ has_value('sensor.desktop_bq063ig_disk_physicaldrive2_read_rate') or has_value('sensor.desktop_bq063ig_disk_physicaldrive2_write_rate') }}"
      state: "{{ states('sensor.desktop_bq063ig_disk_physicaldrive2_read_rate')|float(0) + states('sensor.desktop_bq063ig_disk_physicaldrive2_write_rate')|float(0) }}"
      unit_of_measurement: B/s
      device_class: data_rate
      state_class: measurement
    - name: Frigate nvme0n1p1 Data Rate
      availability: "{{ has_value('sensor.frigate_disk_nvme0n1p1_read_rate') or has_value('sensor.frigate_disk_nvme0n1p1_write_rate') }}"
      state: "{{ states('sensor.frigate_disk_nvme0n1p1_read_rate')|float(0) + states('sensor.frigate_disk_nvme0n1p1_write_rate')|float(0) }}"
      unit_of_measurement: B/s
      device_class: data_rate
      state_class: measurement
    - name: Frigate nvme0n1p2 Data Rate
      availability: "{{ has_value('sensor.frigate_disk_nvme0n1p2_read_rate') or has_value('sensor.frigate_disk_nvme0n1p2_write_rate') }}"
      state: "{{ states('sensor.frigate_disk_nvme0n1p2_read_rate')|float(0) + states('sensor.frigate_disk_nvme0n1p2_write_rate')|float(0) }}"
      unit_of_measurement: B/s
      device_class: data_rate
      state_class: measurement
    - name: Frigate nvme0n1p3 Data Rate
      availability: "{{ has_value('sensor.frigate_disk_nvme0n1p3_read_rate') or has_value('sensor.frigate_disk_nvme0n1p3_write_rate') }}"
      state: "{{ states('sensor.frigate_disk_nvme0n1p3_read_rate')|float(0) + states('sensor.frigate_disk_nvme0n1p3_write_rate')|float(0) }}"
      unit_of_measurement: B/s
      device_class: data_rate
      state_class: measurement
    - name: Frigate sda1 Data Rate
      availability: "{{ has_value('sensor.frigate_disk_sda1_read_rate') or has_value('sensor.frigate_disk_sda1_write_rate') }}"
      state: "{{ states('sensor.frigate_disk_sda1_read_rate')|float(0) + states('sensor.frigate_disk_sda1_write_rate')|float(0) }}"
      unit_of_measurement: B/s
      device_class: data_rate
      state_class: measurement
    - name: OPNSense ada0 Data Rate
      availability: "{{ has_value('sensor.opnsense_disk_ada0_read_rate') or has_value('sensor.opnsense_disk_ada0_write_rate') }}"
      state: "{{ states('sensor.opnsense_disk_ada0_read_rate')|float(0) + states('sensor.opnsense_disk_ada0_write_rate')|float(0) }}"
      unit_of_measurement: B/s
      device_class: data_rate
      state_class: measurement
    - name: RaspberryPi mmcblk0 Data Rate
      availability: "{{ has_value('sensor.raspberrypi4_disk_mmcblk0_read_rate') or has_value('sensor.raspberrypi4_disk_mmcblk0_write_rate') }}"
      state: "{{ states('sensor.raspberrypi4_disk_mmcblk0_read_rate')|float(0) + states('sensor.raspberrypi4_disk_mmcblk0_write_rate')|float(0) }}"
      unit_of_measurement: B/s
      device_class: data_rate
      state_class: measurement

- sensor:
    - name: Laptop Battery Charge
      availability: "{{ has_value('sensor.laptop_battery_percent') }}"
      state: "{{ states('sensor.laptop_battery_percent') }}"
      unit_of_measurement: '%'
      device_class: battery
      state_class: measurement