name: Build hass-config

on:
  schedule:
    - cron: "17 3 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Optional: expose your host UID/GID into the build if you used ARGs
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          pull: true
          tags: |
            ghcr.io/watsona4/hass-config:latest
            ghcr.io/watsona4/hass-config:stable
            ghcr.io/watsona4/hass-config:${{ steps.meta.outputs.version }}
          cache-from: type=registry,ref=ghcr.io/watsona4/hass-config:buildcache
          cache-to: type=registry,ref=ghcr.io/watsona4/hass-config:buildcache,mode=max
